*{
    transition: 500ms;
}
*:hover{
    transition: 1s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: cadetblue;
}

.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.show:hover,
.navbar-light .navbar-nav .show>.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
    color: white;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top{
    height: 175px;
}